/*
 * Copyright (c) 2016 Pierre-Hugues Husson <phh@archos.com>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 */

/dts-v1/;
#include <dt-bindings/input/input.h>
#include <dt-bindings/pwm/pwm.h>
#include "rk3288.dtsi"

/ {
	model = "Archos 101 Oxygen";
	compatible = "archos,ac101ox", "rockchip,rk3288";

	memory {
		device_type = "memory";
		reg = <0x0 0x80000000>;
	};

	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <2000000>;
		poll-interval = <40>;
		autorepeat;

		button@50 {
			label = "Volume Up";
			linux,code = <KEY_VOLUMEUP>;
			press-threshold-microvolt = <50000>;
		};

		button@300 {
			label = "Volume Down";
			linux,code = <KEY_VOLUMEDOWN>;
			press-threshold-microvolt = <300000>;
		};
	};

	//This is used both for USB Host port and for HDMI DDC pull-up
	vcc_5v: vcc-5v-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio7 12 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc50_drv>;
		regulator-name = "vcc_5v";

                /* Always on as the rockchip usb phy doesn't have a vbus-supply
                 * property
                 */
		regulator-always-on;
	};

	vcc_dvp: vcc-dvp {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio0 17 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc_dvp_drv>;
		regulator-name = "vcc_dvp";
	};

	vcc18_dvp: vcc-18-dvp {
		compatible = "regulator-fixed";
		enable-active-high;
		regulator-name = "vcc18_dvp";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin = <&vcc_dvp>;
	};

	vcc28_dvp: vcc-28-dvp {
		compatible = "regulator-fixed";
		enable-active-high;
		regulator-name = "vcc28_dvp";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin = <&vcc_dvp>;
	};

	vcc_sys: sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "sys-supply";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
	};

	wlan_en: wlan_en {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&wlan_en_ctrl>;
		reset-gpios = <&gpio4 28 GPIO_ACTIVE_LOW>;
		post-power-on-delay-ms = <100>;
	};

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "rockchip,ac101ox-codec";
		simple-audio-card,mclk-fs = <512>;
		simple-audio-card,cpu {
			sound-dai = <&i2s>;
		};
		simple-audio-card,codec {
			sound-dai = <&hdmi>;
		};
	};

	bluetooth {
		compatible = "bluetooth-platdata";

       //uart_rts_gpios = <&gpio4 GPIO_C3 GPIO_ACTIVE_LOW>;
        //pinctrl-names = "default","rts_gpio";
        //pinctrl-0 = <&uart0_rts>;
        //pinctrl-1 = <&uart0_rts_gpio>;

        ////BT,power_gpio = <&gpio4 GPIO_D3 GPIO_ACTIVE_HIGH>;
        //BT,reset_gpio = <&gpio4 GPIO_D5 GPIO_ACTIVE_HIGH>;
        //BT,wake_gpio = <&gpio4 GPIO_D2 GPIO_ACTIVE_HIGH>;
        //BT,wake_host_irq = <&gpio4 GPIO_D7 GPIO_ACTIVE_HIGH>;
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm0 0 5000000 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&bl_en>;
		brightness-levels = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255>;
		default-brightness-level = <200>;
		min-brightness-level = <80>;
		enable-gpios = <&gpio7 2 GPIO_ACTIVE_HIGH>;
	};

	//This regulator can't be controled in software
	//It is enabled by vcc_io and powered by vcc_sys
	vcc_flash: vcc_flash {
		compatible = "regulator-fixed";
		regulator-name = "vcc_flash";
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};
};

&cpu0 {
	cpu0-supply = <&vdd_cpu>;
};

//Primary is screen is lcdc1 == vopl
//Secondary is hdmi is lcdc0 == vopb
&hdmi {
	#address-cells = <1>;
	#size-cells = <0>;
	#sound-dai-cells = <0>;

	ddc-i2c-bus = <&i2c5>;
	status = "okay";
};

&mipi_dsi {
	status = "okay";
	ddc-i2c-bus = <&i2c4>;

	panel: panel {
		compatible = "cpt,claa101fp05", "simple-panel";
		reg = <0>;
		status = "okay";

		power-supply = <&vcc_lcd>;
		backlight = <&backlight>;
		ddc-i2c-bus = <&i2c4>;
	};
};

&i2c0 {
	status = "okay";

	vdd_cpu: pmic@40 {
		compatible = "silergy,syr827";
		reg = <0x40>;
		fcs,suspend-voltage-selector = <1>;
		regulator-name = "VDD_CPU";
		regulator-enable-ramp-delay = <300>;
		regulator-min-microvolt = <850000>;
		regulator-max-microvolt = <1350000>;
		regulator-ramp-delay = <8000>;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc_sys>;
	};

	vdd_gpu: pmic@41 {
		compatible = "silergy,syr828";
		reg = <0x41>;
		fcs,suspend-voltage-selector = <1>;
		regulator-name = "VDD_GPU";
		regulator-enable-ramp-delay = <300>;
		regulator-min-microvolt = <850000>;
		regulator-max-microvolt = <1350000>;
		regulator-ramp-delay = <8000>;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc_sys>;
	};

	pmic@32 {
		//compatible = "ricoh,ricoh619";
		compatible = "ricoh,rc5t619";
		reg = <0x32>;
		status = "okay";
		interrupt-controller;
		#interrupt-cells = <0>;
		
		pwrkey: pwrkey@0 {
			compatible = "ricoh,ricoh619-pwrkey";
			ricoh,pwrkey-delay-ms = <20>;		
		};

		rtc {
			compatible = "ricoh,ricoh619-rtc";
			ricoh,rtc-tm-year = <2014>;
			ricoh,rtc-tm-month = <1>;
			ricoh,rtc-tm-mday = <1>;
			ricoh,rtc-tm-hour = <8>;
			ricoh,rtc-tm-min = <0>;
			ricoh,rtc-tm-sec = <0>;
		};

		battery {
			compatible = "ricoh,ricoh619-battery";
			ricoh,alarm-vol-mv = <3300>;
			ricoh,multiple = <100>;
			ricoh,monitor-time = <60>;

			ricoh,ch-vfchg = <0x04>;/* VFCHG	= 0 - 4 (4.05v, 4.10v, 4.15v, 4.20v, 4.35v) */
			ricoh,ch-vrchg = <0x04>;/* VRCHG	= 0 - 4 (3.85v, 3.90v, 3.95v, 4.00v, 4.10v) */
			ricoh,ch-vbatovset = <0x01>;/* VBATOVSET	= 0 or 1 (0 : 4.38v(up)/3.95v(down) 1: 4.53v(up)/4.10v(down)) */
			ricoh,ch-ichg = <0xff>;/* ICHG		= 0 - 0x1D (100mA - 3000mA) */
			ricoh,ch-ilim-adp = <0xff>;/* ILIM_ADP	= 0 - 0x1D (100mA - 3000mA) */
			ricoh,ch-ilim-usb = <0xff>;/* ILIM_USB	= 0 - 0x1D (100mA - 3000mA) */
			ricoh,ch-icchg = <0x01>;/* ICCHG	= 0 - 3 (50mA 100mA 150mA 200mA) */
			ricoh,fg-target-vsys = <3300>;/* This value is the target one to DSOC=0% */
			ricoh,fg-target-ibat = <1000>;/* This value is the target one to DSOC=0% */
			ricoh,fg-poff-vbat = <3450>;/* setting value of 0 per Vbat */
			ricoh,jt-en = <0>;/* JEITA Enable	  = 0 or 1 (1:enable, 0:disable) */
			ricoh,jt-hw-sw = <1>;/* JEITA HW or SW = 0 or 1 (1:HardWare, 0:SoftWare) */
			ricoh,jt-temp-h = <50>;/* degree C */
			ricoh,jt-temp-l = <12>;/* degree C */
			ricoh,jt-vfchg-h = <0x03>;/* VFCHG High  	= 0 - 4 (4.05v, 4.10v, 4.15v, 4.20v, 4.35v) */
			ricoh,jt-vfchg-l = <0>;/* VFCHG High  	= 0 - 4 (4.05v, 4.10v, 4.15v, 4.20v, 4.35v) */
			ricoh,jt-ichg-h = <0x0D>;/* VFCHG Low  	= 0 - 4 (4.05v, 4.10v, 4.15v, 4.20v, 4.35v) */
			ricoh,jt-ichg-l = <0x09>;/* ICHG Low   	= 0 - 0x1D (100mA - 3000mA) */
		};

		regulators {
			#address-cells = <1>;
			#size-cells = <0>;	
			
			vcc_io: DCDC1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vccio";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-inital-mode = <2>;
				regulator-inital-state = <3>;
				regulator-state-mem {
					regulator-state-mode = <2>;
					regulator-state-enabled;
					regulator-state-uv = <3300000>;
				};
			};
			vcc_20: DCDC2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc_20";
				regulator-min-microvolt = <2000000>;
				regulator-max-microvolt = <2000000>;
				regulator-inital-mode = <2>;
				regulator-inital-state = <3>;
				regulator-state-mem {
					regulator-state-mode = <2>;
					regulator-state-enabled;
					regulator-state-uv = <2000000>;
				};
			};
			vcc_lcd: DCDC3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc_lcd";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-initial-mode = <0x2>;
				regulator-initial-state = <3>;
				regulator-state-mem {
					regulator-state-mode = <0x2>;
					regulator-state-disabled;
					regulator-state-uv = <3300000>;
				};
			};
			vdd_logic: DCDC4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vdd_logic";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1500000>;
				regulator-initial-mode = <0x2>;
				regulator-initial-state = <3>;
				regulator-state-mem {
					regulator-state-mode = <0x2>;
					regulator-state-enabled;
					regulator-state-uv = <900000>;
				};
			};
			vcc_ddr: DCDC5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc_ddr";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-initial-mode = <0x2>;
				regulator-initial-state = <3>;
				regulator-state-mem {
					regulator-state-mode = <0x2>;
					regulator-state-enabled;
					regulator-state-uv = <1200000>;
				};
			};
			vccio_pmu: LDO1  {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vccio_pmu";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-initial-state = <3>;
				regulator-state-mem {
					regulator-state-enabled;
					regulator-state-uv = <3300000>;
				};
			};
			vcca_codec: LDO2  {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcca_codec";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-initial-state = <3>;
				regulator-state-mem {
					regulator-state-enabled;
					regulator-state-uv = <3300000>;
				};
			};
			vcc_tp: LDO3  {
				reg = <7>;
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc_tp"; //TODO
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-initial-state = <3>;
				regulator-state-mem {
					regulator-state-enabled;
					regulator-state-uv = <3300000>;
				};
			};
			vcc_sdmmc: LDO4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc_sd";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-initial-state = <3>;
				regulator-state-mem {
					regulator-state-enabled;
					regulator-state-uv = <3300000>;
				};
			};
			vcc_wl: LDO5  {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc_wl";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-initial-state = <3>;
				regulator-state-mem {
					regulator-state-enabled;
					regulator-state-uv = <1800000>;
				};
			};
			vcc18_lcd: LDO6  {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc18_lcd";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-initial-state = <3>;
				regulator-state-mem {
					regulator-state-disabled;
					regulator-state-uv = <1800000>;
				};
			};
			vdd10_lcd: LDO7  {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vdd10_lcd";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-initial-state = <3>;
				regulator-state-mem {
					regulator-state-disabled;
					regulator-state-uv = <1000000>;
				};
			};
			vccio_sd: LDO8 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vccio_sd";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-initial-state = <3>;
				regulator-state-mem {
					regulator-state-enabled;
					regulator-state-uv = <3300000>;
				};
			};
			vdd_10: LDO9 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vdd_10";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-initial-state = <3>;
				regulator-state-mem {
					regulator-state-enabled;
					regulator-state-uv = <1000000>;
				};
			};
			vcc_18: LDO10  {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc_18";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-initial-state = <3>;
				regulator-state-mem {
					regulator-state-enabled;
					regulator-state-uv = <1800000>;
				};
			};
			vcc_rtc: LDORTC1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc_rtc";
				regulator-min-microvolt = < 3300000>;
				regulator-max-microvolt = <3300000>;
			};
			//This seem useless
			ricoh619_ldortc2_reg: LDORTC2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "ricoh619_ldortc2";//todo
				regulator-min-microvolt = < 3300000>;
				regulator-max-microvolt = <3300000>;
			};
		};
	};
};

&i2c1 {
	status = "okay";
	compass@0d{
		compatible = "ak8963";
		reg = <0x0d>;
		mount-matrix =
			"1", "0", "0",
			"0", "1", "0",
			"0", "0", "1";
		status = "okay";
		vdd-supply = <&vcc_io>;
		vid-supply = <&vcc_io>;
	};

 	imu@68{
		compatible = "invensense,mpu6050";
		reg = <0x68>;
		interrupt-parent = <&gpio8>;
		interrupts = <0 IRQ_TYPE_EDGE_RISING>;
		mount-matrix =
			"1", "0", "0",
			"0", "1", "0",
			"0", "0", "1";
		status = "okay";
	};

};

&i2c2 {
	status = "okay";
	rt3261: rt3261@1c {
		compatible = "rt3261";
		reg = <0x1c>;
	//	codec-en-gpio = <0>;//sdk default high level
		spk-num= <2>;
		modem-input-mode = <1>;
		lout-to-modem_mode = <1>;
		spk-amplify = <2>;
		playback-if1-data_control = <0>;
		playback-if2-data_control = <0>;
	};
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
	ts@01 {
		compatible = "ct,vtl_ts";
		reg = <0x01>;
		screen_max_x = <1920>;
		screen_max_y = <1200>;
		irq_gpio_number = <&gpio7 6 IRQ_TYPE_LEVEL_LOW>;
		rst_gpio_number = <&gpio7 5 GPIO_ACTIVE_HIGH>;
	};

        us5151: us5151@10 {
                compatible = "us5151";
                reg = <0x10>;
                //type = <SENSOR_TYPE_LIGHT>;
                //irq_enable = <0>;
                //poll_delay_ms = <30>;
                //layout = <1>;
        };
};

//HDMI
&i2c5 {
	status = "okay";
};

&i2s {
	#sound-dai-cells = <0>;
	status = "okay";
};

&pinctrl {
	backlight {
		bl_en: bl-en {
			rockchip,pins = <7 2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	pcfg_output_high: pcfg-output-high {
		output-high;
	};

	pcfg_output_low: pcfg-output-low {
		output-low;
	};

	pmic {
		pmic_int: pmic-int {
			rockchip,pins = <RK_GPIO0 4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	vcc50 {
		vcc50_drv: vcc50_drv {
			rockchip,pins = <7 12 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	vcc_dvp {
		vcc_dvp_drv: vcc_dvp {
			rockchip,pins = <0 17 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wlan_en {
		wlan_en_ctrl: wlan-en-ctrl {
			rockchip,pins = <4 28 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	bt_en {
		bt_en_ctrl: bt-en-ctrl {
			rockchip,pins = <4 29 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&pwm0 {
	status = "okay";
	rockchip,grf = <&grf>;
};

&pwm1 {
	status = "disabled";
};

&saradc {
	vref-supply = <&vcc_18>;
	status = "okay";
};

&emmc {
	bus-width = <8>;
	cap-mmc-highspeed;
	disable-wp;
	non-removable;
	num-slots = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_clk &emmc_cmd &emmc_pwr &emmc_bus8>;
	vmmc-supply = <&vcc_io>;
	vqmmc-supply = <&vcc_flash>;
	status = "okay";
};

&sdmmc {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	card-detect-delay = <200>;
	disable-wp;
	num-slots = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_clk &sdmmc_cmd &sdmmc_cd &sdmmc_bus4>;
	//cd-gpio?
	vmmc-supply = <&vcc_sdmmc>; //&ricoh619_ldo4_reg
	//vqmmc-supply = <&vcc_iosd>;
	status = "okay";
};

&sdio0 {
	bus-width = <4>;
	disable-wp;
	non-removable;
	num-slots = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdio0_bus4>, <&sdio0_cmd>, <&sdio0_clk>;
	status = "okay";

	//vmmc-supply = <&vcc_wl>;
	//vqmmc-supply = <&vcc_wl>;
	mmc-pwrseq = <&wlan_en>;

};

&uart0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_xfer &uart0_cts &uart0_rts>;
};

&uart2 {
	status = "okay";
};

&tsadc {
	rockchip,hw-tshut-mode = <0>;
	rockchip,hw-tshut-polarity = <0>;
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host1 {
	status = "okay";
};

&usb_otg {
	status = "okay";
};

&usbphy {
	status = "okay";
};

&vopb {
	status = "okay";
};

&vopb_mmu {
	status = "okay";
};

&vopl {
	status = "okay";
};

&vopl_mmu {
	status = "okay";
};

&wdt {
	status = "disabled";
};

&io_domains {
	status = "okay";

	audio-supply = <&vcc_18>;
	bb-supply = <&vcc_18>;
	dvp-supply = <&vcc18_dvp>;
	flash0-supply = <&vcc_flash>;
	flash1-supply = <&vcc_flash>;
	gpio30-supply = <&vccio_pmu>;
	gpio1830-supply = <&vcc_io>;
	lcdc-supply = <&vcc_lcd>;
	sdcard-supply = <&vccio_sd>;
	wifi-supply = <&vcc_wl>;
};
